.image-container {
    width: 1366px; 
    white-space: nowrap; /* Prevent images from wrapping */
  }
  
  .image-container img {
    display: inline-block;
    width: 1366px; 
    height: auto; /* Maintain aspect ratio */
  }
  